.Container{
    display: flex;
    background-color: #74B748;
    height: 52px;
    width: 90px;
    border-radius: 4px;
    margin: 5px;
    float: left;
    padding: 5px;
}

.Div{
    display: flex;
}

.Pane{
    margin-bottom: 12px;
    margin-top: 12px;
}

.CardNumber{
    margin-top: 2px;
    color: #FBFBFB;
    font-size: 11px;
}

.CardText{
    margin-top: 2px;
    color: #FBFBFB;
    font-size: 10px;
}

.Lijn{
    background-color: #74B748;
    height: 100%;
    width: 4px;
    float: right;
    border-radius: 100px;
}

.Tussenstuk{
    background-color: #74B748;
    height: 12px;
    width: 4px;
    float: right;
    border-radius: 100px;
}