.logoDiv{
    padding-top: 10px;
}

.logo{
    height: 30px;
}

.tussenstuk{
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-evenly;
}

.tussenstukCont{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}